.card {
  width: 300px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: #140524;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  color: #ebe7ef;
  transition: 0.4s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.2);
  
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
  height: 4em;
  text-overflow: ellipsis;
  color: #a18aba;
  overflow: hidden;
}

.card p {
  font-size: 14px; 
  text-overflow:ellipsis;
  overflow: hidden;
  height: 4em;
}

.category {
  display: inline-block;
  padding: 2px 15px;
  margin-bottom: 10px;
  margin: 20px 10px;
  background-color: #8a2be2;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
}

.card .publishInfo {
  color: #a18aba;
  font-size: 12px;
}